.home-banner {
  background-image: url(https://images.unsplash.com/photo-1485265449635-ca623a55e95c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80);
  background-size: cover;
  height: 95vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

#banner-typed-text {
  color: white;
}

