.card-title {
  height: 45px;
  display: flex;
  align-items: center;

  font-size: 16px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);


}

.card {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #EAF5FE;
}


